---
layout: default
title: Games
main_class: bg-grad-yellow
---

<section class="full_width_section">
  <header>
    <h1>Games</h1>
  </header>
  <div class="section_content">
    <div class="column card_grid">
      {% include card_software.html
        title="🎮 Asteroids"
        url="/games/asteroids"
        description="A little asteroids game made in Game Maker."
        latest_version="16w46a"
        last_updated="14 Nov 2016"
        badges="arcade,game-maker"
      %}
      {% include card_software.html
        img="https://img.itch.zone/aW1nLzYyNTk2MTUucG5n/315x250%23c/JRLV7q.png"
        img_alt="Screenshot"
        title="🎮 Do you want to build a snowman?"
        url="https://sunderb.itch.io/do-you-want-to-build-a-snowman"
        description="A prototype game about building snowmen. GMTK Game Jame 2021 submission."
        latest_version="0.0.1"
        last_updated="14 Jun 2021"
        badges="game-jam,puzzle,prototype,godot"
      %}
    </div>
  </div>
</section>
