---
layout: default
title: Games
<!-- header: text -->
main_class: bg-grad-yellow
---

<!-- <section id="main_section">
    <article class="card">
        <header>
            <hgroup>
                <a href="games/asteroids.html"><h1>Asteroids</h1></a>
                <h2>A little asteroids game made in Game Maker.</h2>
            </hgroup>
        </header>
        <p>Latest Build: 16w46a</p>
        <footer>
            <p>14/11/2016</p>
        </footer>
    </article>

</section> -->

<section class="full_width_section">
  <header>
    <h2>Games</h2>
  </header>
  <div class="section_content">
    <div class="column">
      {% include card_software.html title="🎮 Asteroids" url="/games/asteroids" description="A little asteroids game made in Game Maker." latest_version="16w46a" last_updated="14 Nov 2016" %}
    </div>
    <div class="column">
      {% include card_software.html title="🎮 Do you want to build a snowman?" url="https://sunderb.itch.io/do-you-want-to-build-a-snowman" description="A prototype game about building snowmen. GMTK Game Jame 2021 submission." latest_version="0.0.1" last_updated="14 Jun 2021" %}
    </div>
  </div>
</section>
