---
redirect_from:
- /home
layout: default
title: Home
header_picture: assets/img/bluegradient.png
header_picture_name: blue gradient
header_h1: Hi there!
header_h2: Welcome to my website!
---
<script src="assets/js/event_stickers.js"></script>

<section class="full_width_section bg-grad-blue">
  <div class="section_content">
    <div class="column container_vertical_centre">
      <div class="">
        <h1>Hi there! My name's Sunder.</h1>
        <br>
        <h3>I'm a student who's interested in: tinkering with tech and computers 💻, music 🎵, and games 🎮 :)</h3>
      </div>
    </div>
    <div class="column no_vert_margin">
      <img src="assets/img/drawings/waving.png" alt="Me waving" style="display: block; width: 60%;"/>
    </div>
  </div>
</section>

<section class="full_width_section bg-grad-orange">
  <div class="section_content">
    <div class="column">
      <!-- Intentionally blank -->
    </div>
    <div class="column">
      <h2>Projects</h2>
      {% include card_software.html 
        title="sb-atom-sonic-pi" 
        url="https://github.com/SunderB/sb-atom-sonic-pi" 
        description="A package for the <a href='https://pulsar-edit.dev/'>Pulsar text editor</a> to interface with <a href='https://sonic-pi.net'>Sonic Pi</a>. Based on <a href='https://github.com/rkh/atom-sonic'>rkh/atom-sonic</a>. (May not be regularly maintained!)"
        latest_version="0.2.3"
        last_updated="26 Dec 2022"
        badges="pulsar-edit,atom,sonic-pi"
      %}
    </div>
  </div>
</section>

<section class="full_width_section bg-grad-yellow">
  <div class="section_content">
    <div class="column">
      <h2>Games</h2>
      {% include card_software.html
        title="🎮 Asteroids"
        url="/games/asteroids"
        description="A little asteroids game made in Game Maker."
        latest_version="16w46a"
        last_updated="14 Nov 2016"
        badges="arcade,game-maker"
      %}
      {% include card_software.html
        title="🎮 Do you want to build a snowman?"
        url="https://sunderb.itch.io/do-you-want-to-build-a-snowman"
        description="A prototype game about building snowmen. GMTK Game Jame 2021 submission."
        latest_version="0.0.1"
        last_updated="14 Jun 2021"
        badges="game-jam,puzzle,prototype,godot"
      %}
    </div>
    <div class="column">
      <!-- Intentionally blank -->
    </div>
  </div>
</section>

<section class="full_width_section bg-grad-green">
  <div class="section_content">
    <div class="column">
      <!-- Intentionally blank -->
    </div>
    <div class="column">
      <h2>Projects I've contributed to</h2>
      <p>
        <details open>
          <summary>Sonic Pi</summary>
          <hr>
          <div class="details_content">
            <p>
              Sonic Pi is a live coding and educational tool, created by Sam Aaron, that allows you to use Ruby to create music!
              <br>You can check it out at <a href="https://sonic-pi.net" target="_blank">https://sonic-pi.net</a>.
              <br>GitHub: <a href="https://github.com/sonic-pi-net/sonic-pi" target="_blank">https://github.com/sonic-pi-net/sonic-pi</a>.
            </p>
            <br>

            <p>My main contributions include:</p>
            <ul>
              <li>
                <p>Contributed to the build system (focusing on Linux). PR <a href="https://github.com/sonic-pi-net/sonic-pi/pull/2207/">#2207</a></p>
              </li>
              <li>
                <p>Add an option to change the UI language. PR <a href="https://github.com/sonic-pi-net/sonic-pi/pull/2604">#2604</a></p>
              </li>
            </ul>
            <p><a href="https://github.com/sonic-pi-net/sonic-pi/commits?author=SunderB">See all of my commits</a></p>
          </div>
        </details>
      </p>
    </div>
  </div>
</section>

<section class="full_width_section bg-grad-blue">
  <div class="section_content">
    <div class="column">
      <h2>Events I've participated in</h2>
      <div class="hex-grid" id="event_stickers">
        {% capture iterations %}{{ site.data.events | size | divided_by: 4 }}{% endcapture %}
        {% for row in (0..iterations) %}
          {% assign a = row | modulus: 2 %}
          {% if a == 1 %}
            {% assign class = "btn offset" %}
          {% else %}
            {% assign class = "btn" %}
          {% endif %}

          {% for item in site.data.events limit: 4 offset: continue %}
          <!-- onclick="show_event("{{item.name | replace: " ", "" }})" -->
            <a data-event-id="event_{{item.name | replace: ' ', '' }}" tabindex="0" class="{{class}}" onkeydown="show_event_details(event)" onclick="show_event_details(event)" target="_self">
              <img src="{{item.sticker}}" alt="{{item.name}}" width="100%">
            </a>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
    <div class="column" id="event_details">
      {% for event in site.data.events %}
      <details aria-label="{{ event.name }}" id="event_{{event.name | replace: " ", "" }}">
        <summary>{{ event.name }}</summary>
        <hr>
        <div class="details_content">
          <p>{{ event.description }}</p>
        </div>
      </details>
      {% endfor %}
    </div>
  </div>
</section>


<!-- <section class="full_width_section bg-grad-purple">
  <div class="section_content">
    <div class="column">
      <h2>Music</h2>
      <p>Test test test</p>
    </div>
    <div class="column">
      <p>Test test test</p>
    </div>
  </div>
</section> -->

<section class="full_width_section bg-grad-purple">
  <div class="section_content">
    <div class="column">
      <img src="assets/img/drawings/speech-bubble.png" width="100%" alt="Speech bubble"/>
    </div>
    <div class="column">
      <h2>Socials</h2>
      <ul>
        <p><img alt="Github logo" src="assets/img/logos/github.png" class="social-icon"/> GitHub: <a href="https://github.com/SunderB">@SunderB</a></p>
        <p><img alt="Twitter logo" src="assets/img/logos/twitter.png" class="social-icon"/> Twitter (rarely used): <a href="https://twitter.com/sunderb_">@SunderB_</a></p>
      </ul>
    </div>
  </div>
</section>
