@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:500,700|Raleway:700|Roboto');
*{
	margin: 0px;
	padding: 0px;
}
h1{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}
h2,h3,h4,p,a{
	font-family: 'Roboto', sans-serif;
}
h2{
	/* font: bold 14px Tahoma; */
	font-size: 18px;
	/* font-weight:700; */
}
h4{
	/* font: bold 10px Tahoma; */
	font-size: 14px;
	/* font-weight:700; */
}
p{
	font-weight:500;
}

/* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
	color: grey;
}

/* selected link */
a:active {
	color: grey;
}
div.card {
	width: 40%;
	margin: 5%;
	float: left;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
}
div.header h1 {
	background-color: #00A2E8;
	color: white;
	padding: 10px;
	font-size: 40px;
}
div.container {
    padding: 10px;
}
#top_menu {
	text-align: center;
	background-color: #00A2E8;
}
#top_menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #00A2E8;
}
#top_menu ul li	{
	display: inline-block;
}
#top_menu ul li a{
	display: block;
  	color: black;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	text-align: center;
  	padding: 20px 16px;
  	text-decoration: none;
	background-color: #00A2E8;
}
#top_menu ul li a:hover:not(.active) {
	background-color: #00A2E8;
}

#top_menu ul li a:currentLink{
	background-color: rgb(51, 204, 255);
}
#top_menu ul li a.active {
	background-color: #000000;
}
/* unvisited link
#top_menu ul a:link {
    color: white;
}
*/
/* visited link
#top_menu ul a:visited {
    color: white;
}
*/
/* mouse over link
#top_menu ul a:hover {
    color: cyan;
}
*/
/* selected link 
#top_menu ul a:active {
    color: cyan;
}
*/
#box {
	display: block;
	width: 200px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid blue;
	background: cyan;
}
#box a{
	font: bold 14px Tahoma;
}
#box a:link {
	color: white;
}

/* visited link */
#box a:visited {
	color: white;
}

/* mouse over link */
#box a:hover {
	color: blue;
}

/* selected link */
#box a:active {
	color: blue;
}
header,section,footer,aside,nav,article,hgroup{
	display: block;
}
body{
	text-align: center;
	padding-top: 100px;
	background-color: rgb(255, 255, 255);
}
#new-div{
	max-width: 1000px;
	margin: auto;
	text-align: left;
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	
}
#top_header{
	padding: 20px;
}
#second_header{
	padding: 20px;
	border: 1px solid black;
}
#top_bar {
	position:fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
}
#main_section{
	float: left;
	width: 60%;
	margin: 2.5%;
}
article {
	padding: 20px;
	margin-bottom: 15px;
	background: rgb(255, 255, 255);
	border-bottom: 1px solid rgb(100, 100, 100);
}
#blue_article {
	background: rgb(135, 255, 255);
	border: 1px solid rgb(0, 153, 255);
}
article header{
	margin-bottom: 15px;
}
article footer{
	text-align: right;
}
#side_info{
	float: right;
	width: 20%;
	margin: 2.5%;
	padding: 20px 5%;
	background: #66CCCC;
}
#ver_list ul{
	list-style-type: none;
}
#bottom_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid green
}

@media screen and (max-width: 1040px) {
	#new-div{
		margin: 0px 20px 0px 20px;
	}
}

@media screen and (max-width: 550px) {
	#main_section{
		width: 100%;
	}
	#side_info{
		display: none;
		width: 0%;
		margin: 0px;
		padding: 0px;
	}
}
