*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
h4{
	font: bold 10px Tahoma;
}

/* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: grey;
}

#top_menu ul li a{
	display: block;
}

/* unvisited link */
#top_menu ul a:link {
    color: white;
}

/* visited link */
#top_menu ul a:visited {
    color: white;
}

/* mouse over link */
#top_menu ul a:hover {
    color: cyan;
}

/* selected link */
#top_menu ul a:active {
    color: cyan;
}
#box {
	display: block;
	width: 200px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 1px solid blue;
	background: cyan;
}
#box a{
	font: bold 14px Tahoma;
}
#box a:link {
    color: white;
}

/* visited link */
#box a:visited {
    color: white;
}

/* mouse over link */
#box a:hover {
    color: blue;
}

/* selected link */
#box a:active {
    color: blue;
}
header,section,footer,aside,nav,article,hgroup{
	display: block;
}
body{
	text-align: center;
	padding-top: 100px;
	background-color: rgb(255, 255, 255);
}
#new-div{
	border: 1px solid black;
	max-width: 1000px;
	margin: 20px auto;
	text-align: left;
	background-color: rgb(255, 255, 255);
}
#top_header{
	background: cyan;
	border: 1px solid blue;
	padding: 20px;
}
#second_header{
	padding: 20px;
}
#top_menu{
	background: blue;
	color: white;
	padding: 5px;
}
#top_menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Tahoma;
}
#top_bar {
	position:fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
}
#main_section{
	float: left;
	width: 50%;
	margin: 30px;
}
#side_info{
	float: left;
	width: 30%;
	margin: 20px 0px;
	padding: 30px;
	background: #66CCCC;
}
#bottom_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid green
}
article{
	background: rgb(135, 255, 255);
	border: 1px solid rgb(0, 153, 255);
	padding: 20px;
	margin-bottom: 15px;
}
article footer{
	text-align: right;
}
