#picture_header{
	height: 400px;
	overflow: hidden;
}
#picture_header img{
	filter: brightness(50%);
	width: 100%;
}
#picture_header h1{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 40px;
	color: white;
}
#picture_header h2{
	position: absolute;
	top: 60%;
	left: 50%;
	font-size: 30px;
	color: white;
}
