<article class="card" style="display: flex; flex-direction: column;">
    <header>
        <hgroup>
            <a href="{{ include.url }}"><h4>{{ include.title }}</h4></a>
            {% if include.badges %}
            {% assign badge_list = include.badges | split: "," %}
            {% for badge in badge_list %}
            <label class="badge">{{ badge }}</label>
            {% endfor %}
            {% endif %}
            <p>{{ include.description }}</p>
        </hgroup>
    </header>
    <div class="card-content" style="flex-grow: 1;">
        {{ include.content }}
    </div>
    <footer>
        <hr>
        <div class="card_footer" style="display: flex;">
            {% if include.latest_version %}
            <p style="text-align: left; flex: 1;"><img src="assets/img/icons/octicons/versions-24.svg" alt="latest version" height="18"/> {{ include.latest_version }}</p>
            {% endif %}
            <p style="text-align: right; flex: 1;"><img src="assets/img/icons/octicons/clock-24.svg" alt="last updated" height="18"/> {{ include.last_updated }}</p>
        </div>
    </footer>
</article>
