<!-- Title -->
<title>SunderB's Website - {{page.title}}</title>

<!-- Base URL -->
<base href="{{ site.url }}{{ site.baseurl }}/" target="_blank"/>

<!-- Metadata -->
<meta charset="utf-8 "name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="SunderB"/>
<meta name="description" content="My small corner of the internet. :)"/>
<meta name="keywords" content="sunder, sunderb, sundab, sundarb, coding, programming"/>

<!-- Stylesheets -->
<link rel="stylesheet" href="assets/css/main.css">

<!-- Scripts -->
<script src="assets/js/splash_text.js" async></script>
