<div id="top_bar">
	<nav id="top_menu">
		<ul>
			<li>
				<header id="top_header" >
					<a href="https://github.com/SunderB">
						<img src="https://avatars3.githubusercontent.com/u/20426079?s=400" alt="GitHub Avatar" id="github-avatar-pic"/>
					</a>
					<h1>SunderB</h1>
				</header>
			</li>
			<li><a href="https://sunderb.github.io">Home</a></li>
			<li><a href="https://sunderb.github.io/games">Games</a></li>
			<li><a href="https://sunderb.github.io/projects">Projects</a></li>
			<li><a href="https://sunderb.github.io/repos">Repositories</a></li>
		</ul>
	</nav>
</div>
