<header id="top_bar">
    <nav id="side_menu" class="sidenav">
        <a aria-label="close side menu" href="javascript:void(0)" target="_self" class="closebtn" onclick="close_side_menu()">&times;</a>
        {% include navlinks.html %}
    </nav>
    <nav class="navbar">
        <a aria-label="open side menu" href="javascript:void(0)" target="_self" class="menu_button" onclick="open_side_menu()">
            <img alt="list icon" src="assets/img/icons/bootstrap/list.svg" width="24px"/>
        </a>
        <a href="{{ site.url }}{{ site.baseurl }}" target="_self" class="nav_title"> 
            SunderB
        </a>
        {% include navlinks.html %}
    </nav>
</header>
