/* @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:500,700|Raleway:700|Roboto'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;500;600;700&family=Source+Sans+Pro:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --navbar-text-size: 12pt;
  --navbar-vertical-padding: 24px;
  --navbar-height: calc(var(--navbar-text-size) + 2*var(--navbar-vertical-padding) + 2px);

  --footer-height: 60px;
  --footer-vertical-padding: 20px;

  --content-max-width: 1200px;
}


*{
    margin: 0px;
    padding: 0px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
}
h2,h3,h4,p,a{
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
    /* font: bold 14px Tahoma; */
    font-size: 18pt;
    /* font-weight:700; */
}

h3{
    /* font: bold 14px Tahoma; */
    font-size: 16pt;
    /* font-weight:700; */
}
h4{
    /* font: bold 10px Tahoma; */
    font-size: 14pt;
    /* font-weight:700; */
}
p{
    font-weight:500;
}

/* unvisited link */
a:link {
    color: black;
}
/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: grey;
}

div.header h1 {
    background-color: #00A2E8;
    color: white;
    padding: 10px;
    font-size: 40px;
}
div.container {
    padding: 10px;
}

/* Navigation bar */
.navbar {
    text-align: center;
    background-color: #00A2E8;
    height: var(--navbar-height);
}
.navbar ul {
  /* Layout */
  /* Make the navbar full width */
  max-width: var(--content-max-width);
  height: 100%;
  /* Hide any overflowing elements */
  overflow: hidden;

  display: flex;

  margin: 0px auto;


  /* Style */
  /* Hide the list bullet points */
  list-style-type: none;
  /* Set colours */
  background-color: #00A2E8;
}
.navbar ul li {
  display: inline-block;
  /* flex: 1; */
}
.navbar ul li a {
  padding: 0px 16px;
  height: 100%;
  /* padding: var(--navbar-vertical-padding) 16px; */
  /* display: block; */
  display: flex;
  align-items: center;

  /* Set the font and text size */
  font-family: 'Raleway', sans-serif;
  font-size: var(--navbar-text-size);
  font-weight: 500;
  text-align: center;

  /* Hide the list bullet points */
  text-decoration: none;
  /* Set colours */
  color: black;
  background-color: #00A2E8;
}
.navbar ul li a:hover:not(.active) {
    background-color: #333;
    color: white;
}

.navbar ul li a:currentLink{
    background-color: rgb(51, 204, 255);
}
.navbar ul li a.active {
    background-color: #000000;
}
/* unvisited link
.navbar ul a:link {
    color: white;
}
*/
/* visited link
.navbar ul a:visited {
    color: white;
}
*/
/* mouse over link
.navbar ul a:hover {
    color: cyan;
}
*/
/* selected link
.navbar ul a:active {
    color: cyan;
}
*/
#box {
    display: block;
    width: 200px;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid blue;
    background: cyan;
}
#box a{
    font: bold 14px Tahoma;
}
#box a:link {
    color: white;
}

/* visited link */
#box a:visited {
    color: white;
}

/* mouse over link */
#box a:hover {
    color: blue;
}

/* selected link */
#box a:active {
    color: blue;
}
header,section,footer,aside,nav,article,hgroup{
    display: block;
}
body{
    text-align: center;
    /*padding-top: var(--navbar-height);*/
    background-color: rgb(255, 255, 255);
}

#main_wrapper {
  min-height: calc(100vh - var(--navbar-height) - var(--footer-height) - 2*var(--footer-vertical-padding) - 2px); /* To push footer to bottom of page */
}

#content{
    /* max-width: 1000px;
    margin: auto;
    text-align: left;
    background-color: rgb(255, 255, 255);
    overflow: hidden; */
}

#top_header{
    padding: 20px;
}
#top_header h1 {
     display: inline;
}
#github-avatar-pic {
    display: inline-block;
    width: 50px;
    height: 50px;
        float: left;
}
#second_header{
    padding: 20px;
    margin-top: 20px;
    border: 1px solid black;
}
#picture_header{
    height: 400px;
    width: 100%;
    overflow: hidden;
    /*! margin-top: -34px; */
    position:relative;
}
#picture_header img{
    filter: brightness(50%);
    width: 100%;
    height: auto;
    min-height: 400px;
        position:absolute;
        margin:auto;
        top:0;right:0;bottom:0;left:0;
}
#picture_header h1{
    position: absolute;
    top: 180px;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
}
#picture_header h2{
    position: absolute;
    top: 230px;
    left: 0%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}
#top_bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; /* Show on top of other elements */
}
#main_section{
    /* float: left;
    width: 60%;
    margin: 2.5% 0; */
    max-width: 1000px;
    margin: auto;
    text-align: left;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

textarea{
    resize: none;
}
.textarea_left {
    float: left;
}
.textarea_right {
    float: right;
}
#side_info{
    float: right;
    width: 20%;
    margin: 2.5%;
    padding: 20px 5%;
    background: #66CCCC;
}
#ver_list ul{
    list-style-type: none;
}

#bottom_footer{
    clear: both;
    text-align: center;
    padding: var(--footer-vertical-padding) 0; /* 20px vertical; 0px horizontal */
    height: var(--footer-height);
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: center;
    border-top: 2px solid green;
}

#bottom_footer * {
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'DM Mono', monospace;
  font-weight: 500;
  font-size: 12pt;
}

.full_width_section {
  width: 100%;
}

.full_width_section > .section_content {
  max-width: 1200px;
  margin: auto;
  text-align: left;
  overflow: hidden;

  display: flex;
}

.section_content > .column {
  flex: 1;
  margin: 0px 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.section_content > .column.no_vert_margin {
  flex: 1;
  margin-bottom: -16px; /* This feels a bit hacky */
  padding-bottom: 0px;
}

.section_content h2 {
  font-family: 'DM Mono', monospace;
  /* font-family: 'Indie Flower', cursive; */
  font-weight: 500;
  font-size: 24pt;
}

.section_content p {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 18pt;
}

.section_content li {
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  list-style: circle;
  font-size: 18pt;
  margin-left: 20px;
}

.social-icon {
  width:24pt;
  height: 24pt;
  position: relative;
  top: 6pt;
}

/* Cards */
article {
    padding: 20px;
    margin: 15px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(100, 100, 100);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
}
#blue_article {
    background: rgb(135, 255, 255);
    border: 1px solid rgb(0, 153, 255);
}
article header{
    margin-bottom: 15px;
}
article footer{
    text-align: right;
}

/* div.card {
    width: 40%;
    margin: 5%;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
} */

.card {
    padding: 0px;
    margin: 15px;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(100, 100, 100);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    overflow: hidden;
}
.card header{
    padding: 10px 10px 15px 10px;
}
.card h3,h4 {
    font-family: "DM Mono", monospace;
}
.card footer{
    text-align: right;
    margin: 0;
    padding: 5px 10px;
}

@media screen and (max-width: 1040px) {
    #content{
        margin: 0px 20px 0px 20px;
    }
}

@media screen and (max-width: 550px) {
    #main_section{
        width: 100%;
    }
    #side_info{
        display: none;
        width: 0%;
        margin: 0px;
        padding: 0px;
    }
}
