

/* Utility classes for setting certain properties */
.no_resize {
    resize: none;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.container_vertical_centre {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container_horizontal_centre {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_grid_2col {
    display: grid;
    grid-template-columns: 50% 50%;
}
