<!--
SunderB's Website
Copyright SunderB 2020 All Rights Reserved (unless otherwise stated)
See LICENSE.md for full license (https://github.com/SunderB/sunderb.github.io/blob/master/LICENSE.md)
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8 "name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SunderB's Website</title>
    <link rel="stylesheet" href="https://sunderb.github.io/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:500,700|Raleway:700|Roboto">
</head>
<style>
</style>
<body>
    <div id="main_wrapper">
        {% include header.html %}
        <div id="content">

            {{ content }}

        </div>
        {% include footer.html %}
    </div>
</body>
</html>
