<!--
SunderB's Website
Copyright SunderB 2022 All Rights Reserved (unless otherwise stated)
See LICENSE.md for full license (https://github.com/SunderB/sunderb.github.io/blob/master/LICENSE.md)
-->
<!doctype html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<style>
</style>
<body>

    {% include navbar.html %}

    <div id="main_wrapper" class="{{ page.main_class }}">
        {% if page.header == "picture" %}
            {% include picture_header.html %}
        {% endif %}

        <main id="content">
            {% if page.header == "text" %}
                {% include text_header.html %}
            {% endif %}

            {{ content }}
        </main>
    </div>

    {% include footer.html %}
</body>
</html>
