<!--
SunderB's Website
Unique Content (unless otherwise stated) is All Rights Reserved
See LICENSE (https://github.com/SunderB/sunderb.github.io/blob/master/LICENSE)
-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8 "name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SunderB's Website</title>
	<link rel="stylesheet" href="https://sunderb.github.io/main.css">
</head>
<style>
</style>
<body>
	<div id="main_wrapper">
		<div id="top_bar">
			<header id="top_header" >
				<h1>SunderB's Website</h1>
			</header>
			
			<nav id="top_menu">
				<ul>
					<li><a href="https://sunderb.github.io">Home</a></li>
					<li><a href="https://sunderb.github.io/games">Games</a></li>
					<li><a href="https://sunderb.github.io/repos">Repositories</a></li>
				</ul>
			</nav>
		</div>
		<div id="new-div">
	
    	{{ content }}
		
		</div>		
	{% include footer.html %}
	</div>
</body>
</html>
