<!--
SunderB's Website
Copyright SunderB All Rights Reserved
See LICENSE for full license (https://github.com/SunderB/sunderb.github.io/blob/master/LICENSE)
-->
<!doctype html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<style>
</style>
<body>
    <script type="text/javascript">
        {% include resize_main_section.js %}
    </script>
    <div id="main_wrapper">
        {% include header.html %}
        <div id="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>
</html>
