<!--
SunderB's Website
Copyright SunderB 2020 All Rights Reserved (unless otherwise stated)
See LICENSE.md for full license (https://github.com/SunderB/sunderb.github.io/blob/master/LICENSE.md)
-->
<!doctype html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<style>
</style>
<body>
    <script type="text/javascript">
        {% include resize_main_section.js %}
    </script>
    {% include navbar.html %}
    <div id="main_wrapper">

        <div id="content">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
