<!--
SunderB's Website
Copyright SunderB All Rights Reserved
See LICENSE for full license (https://github.com/SunderB/sunderb.github.io/blob/master/LICENSE)
-->
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8 "name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>SunderB's Website - {{page.title}}</title>
	<link rel="stylesheet" href="https://sunderb.github.io/main.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:500,700|Raleway:700|Roboto">
</head>
<style>
</style>
<body>
	<header id="picture_header">
		<img id="header_picture" onresize="header_picture_size()" src="{{page.header_picture}}" alt="{{page.header_picture_name}}">
		<h1 id="header_title">{{page.header_h1}}</h1>
		<h2>{{page.header_h2}}</h2>
	</header>
	<script>
		document.getElementById("header_title").innerHTML = "Hi!";

		function header_picture_size() {
			var width = document.getElementById("header_picture").style.width;
			var height = document.getElementById("header_picture").style.height;
			var nwidth  = document.getElementById("header_picture").naturalWidth;
			var nheight = document.getElementById("header_picture").naturalHeight;
			var aspectratio = nwidth/nheight;
			var c_aspectratio = width/height;
			var set_height = aspectratio * 400;
			if (c_aspectratio =! aspectratio)	{
				document.getElementById("header_picture").style.width = set_height;
			}
			if (document.documentElement.clientWidth > set_height)	{
				document.getElementById("header_picture").style.width = document.documentElement.clientWidth;
			}
		}
	</script>
	<div id="main_wrapper">
		{% include header.html %}
		<div id="content">
			{{ content }}
		</div>
		{% include footer.html %}
	</div>
</body>
</html>
